.larger_container
{
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

.top_container 
{
  
  /*color: #282c34;*/
  color: rgb(40, 44, 52);
  border: 0px;
  background-color: rgb(235, 232, 232);
  text-align: left;

  width: 100%;
  width: 100vw;
  height: 60px;

  margin: 0 auto;
  padding: 0;

  position: absolute;
  top: 0;
  left: 0;

}

.topcontainer_text
{
  left: 40px;
  position: absolute;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

.textarea_container
{
  width: 100%;
  width: 100vw;
  height: 120px;
  position: absolute;
  top: 60px;
  
}

.textarea
{
  width: 99%;
  height: 120px;
  position: absolute;
  left: 4px;

  border: 0px;
  background-color: rgb(10, 18, 42);
  color: rgb(235, 232, 232);

  font-family: 'Source Code Pro';
  
  overflow-y: scroll;

}

.chartplot_container
{
  position: absolute;
  top: 184px;
  bottom: 60px;
  
  width: 100%;
  width: 100vw;

  text-align: center;
}

.bottom_container
{
  position: absolute;
  bottom: 0px;
  width:100%;
  width: 100vw;

  height: 60px;
  border: 0px;
  background-color: rgb(235, 232, 232);

}


.generatechart_button
{
  
  position: absolute;
  top: 12px;
  left: 40px;

  color: white;
  
  height: 30px;
  width: 110px;
  
  font-size: 10px;
  font-family: 'Source Sans Pro';
  
  border: 0px solid;
  border-radius: 3px;
  background-color: rgb(26, 140, 255);
}


/*import google fonts*/
@font-face 
{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/source-sans-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('./fonts/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}