.header-container 
{ 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(235, 232, 232);

  color: rgb(40, 44, 52);
  /*text-align: left;*/
}

.footer-container
{
  position: fixed;
  bottom: 0px;
  left: 0;
  width:100%;
  height: 10%;

  background-color: rgb(235, 232, 232);
  
}

.headercontainer-text
{
  position: absolute;
  left: 38px;
  top: 35%;
  font-size: 20px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

.textarea-container
{
  position: absolute;
  top: 10%;
  left: 0px;
  width: 100%;
  height: 30%;
}

.textarea
{
  position: absolute;
  top: 0px;
  left: 4px;
  width: 99%;
  height: 100%;
  
  border: 0px;
  background-color: rgb(10, 18, 42);
  color: rgb(235, 232, 232);

  font-family: 'Source Code Pro';
  overflow-y: scroll;

  scrollbar-width: 18px;
  resize: none; 
}

.chartplot-container
{
  position: absolute;
  top: 40%;
  left: 0px;
  width: 100%;
  height: 50%;

  /*text-align: center;*/
}

.donut
{
  position: fixed;
  top: 10%;
  width: 100%;
  height: 100%;

}
.generatechart-button
{
  position: absolute;
  top: 30%;
  left: 38px;

  color: white;
  
  height: 30px;
  width: 110px;
  
  font-size: 11px;
  font-family: 'Source Sans Pro';
  
  border: 0px solid;
  border-radius: 3px;
  background-color: rgb(26, 140, 255);
}

/* scrollbar style */

/* width */
::-webkit-scrollbar 
{
  width: 10px;
}

/* fundo da barra*/
::-webkit-scrollbar-track 
{
  background: rgb(10, 18, 42);
}

/* corr mouse em cima */
::-webkit-scrollbar-thumb 
{
  background: rgb(102, 102, 102); 
  border-radius: 10px;
}

/* cor sem mouse em cima */
::-webkit-scrollbar-thumb:hover 
{
  background: rgb(102, 102, 102); 
}


/*import google fonts*/
@font-face 
{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/source-sans-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('./fonts/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}