.Top 
{
  
  margin: 0px;
  height:50px;
  color: #282c34;
  border: 2px solid rgb(235, 232, 232);
  background-color: rgb(235, 232, 232);
  text-align: left;
}

.TopText
{
  margin: 12px;
  font-size: 18px;
  font-family: monospace;
}
.Bottom 
{
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;
  border: 2px solid rgb(235, 232, 232);
  background-color: rgb(235, 232, 232);
}

.SendButton
{
  margin: 12px;
  color: white;
  height: 30px;
  width: 110px;
  font-size: 10px;
  border: 0px solid;
  border-radius: 3px;
  background-color: rgb(26, 140, 255);
}